@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn {
    @apply rounded bg-brand py-2 px-4 text-white transition;
  }
  .btn-lg {
    @apply py-3;
  }

  .circular-loader,
  .btn.loading {
    @apply pointer-events-none relative  text-transparent grayscale;
  }
  .circular-loader::before,
  .circular-loader::after,
  .btn.loading::after,
  .btn.loading::before {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-2 border-white;
    content: '';
    width: 20px;
    height: 20px;
  }

  .circular-loader::before,
  .btn.loading::before {
    @apply opacity-30;
  }
  .circular-loader::after,
  .btn.loading::after {
    @apply border-t-transparent border-r-transparent;
    animation: rotate 1s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
